/* --------------------------- */
/* RESET + BASE */
/* --------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: linear-gradient(135deg, #0e3a67, #0a2a4a);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* --------------------------- */
/* CONTAINER PRINCIPAL */
/* --------------------------- */
.login-container {
    display: flex;
    width: 900px;
    background: white;
    border-radius: 12px;
    box-shadow: 0px 10px 25px rgba(0,0,0,0.2);
    overflow: hidden;
}

/* --------------------------- */
/* GAUCHE : FORMULAIRE */
/* --------------------------- */
.left-box {
    width: 50%;
    padding: 40px 50px;
}

.left-box h2 {
    font-size: 28px;
    font-weight: 600;
    color: #1d3557;
    margin-bottom: 20px;
}

.left-box input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #cdd3dd;
    border-radius: 8px;
    font-size: 15px;
}

.left-box input:focus {
    outline: none;
    border-color: #1f6fba;
}

.checkbox-box {
    
    display: flex;
    align-items:center;
    justify-content: start;
    gap: 2px;
    margin: 10px 0 15px;
}
#remember{
    width: 50px;
}
.left-box button {
    width: 100%;
    padding: 13px;
    background: #1f6fba;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 17px;
    cursor: pointer;
    transition: 0.3s;
}

.left-box button:hover {
    background: #174f8c;
}

.links {
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
}

.links a {
    color: #1f6fba;
    text-decoration: none;
}

.links a:hover {
    text-decoration: underline;
}

/* --------------------------- */
/* DROITE : INTRO */
/* --------------------------- */
.right-box {
    width: 50%;
    background: linear-gradient(135deg, #0e3a67, #0a2a4a);
    color: white;
    padding: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo-circle {
    width: 85px;
    height: 85px;
    background: white;
    color: #0e3a67;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 700;
    margin: 0 auto 25px;
}

.right-box h1 {
    font-size: 27px;
    margin-bottom: 15px;
}

.right-box p {
    font-size: 15px;
    line-height: 1.6;
    color: #d0d7e6;
}

/* --------------------------- */
/* RESPONSIVE */
/* --------------------------- */
@media (max-width: 850px) {
    .login-container {
        flex-direction: column;
        width: 95%;
    }

    .left-box, .right-box {
        width: 100%;
    }

    .right-box {
        padding: 30px 20px;
    }
}

@media (max-width: 480px) {
    .left-box h2 {
        font-size: 22px;
    }

    .right-box h1 {
        font-size: 22px;
    }

    .logo-circle {
        width: 70px;
        height: 70px;
        font-size: 24px;
    }
}
