/* GLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #f5f7fb;
}

/* NAVBAR */
.navbar {
    width: 100%;
    background: white;
    padding: 18px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e5e7eb;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.navbar h2 {
    font-size: 22px;
    font-weight: 600;
}
.commandes {
  color: white;
  text-decoration: none;
}

.navbar .right {
    display: flex;
    align-items: center;
    gap: 25px;
}

.notif {
    position: relative;
    font-size: 20px;
}

.notif span {
    position: absolute;
    top: -5px;
    right: -8px;
    background: red;
    color: white;
    padding: 2px 6px;
    font-size: 10px;
    border-radius: 50%;
}

/* SIDEBAR */
.sidebar {
    width: 240px;
    background: #1e293b;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: fixed;
    top: 70px; /* si la navbar est fixe */
    left: 0;
}

/* Le bas se colle automatiquement en bas */
.bottom-side {
    margin-top: 47rem;
}

/* Profil bas */
.profile {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px 0;
}

.profile img {
    width: 45px;
    border-radius: 50%;
}

.logout {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    background: #ef4444;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}

.menu li {
    list-style: none;
    padding: 12px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.menu li:hover,
.menu li.active {
    background: #334155;
}

.profile {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 40px;
}

.profile img {
    width: 45px;
    border-radius: 50%;
}

.logout {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    background: #ef4444;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}

/* CONTENT */
.content {
    margin-left: 260px;
    margin-top: 110px;
    padding: 20px 40px;
}

/* TITLE */
.title h1 {
    font-size: 32px;
    font-weight: 700;
}

.title p {
    color: #666;
    margin-top: 6px;
}

/* CARDS */
.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    margin-top: 30px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 14px;
    display: flex;
    gap: 20px;
    align-items: center;
    box-shadow: 0 2px 6px rgba(0,0,0,0.06);
}

.icon {
    width: 60px;
    height: 60px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    color: white;
}

.icon.blue { background: #2563eb; }
.icon.orange { background: #f59e0b; }
.icon.green { background: #16a34a; }
.icon.grey { background: #4b5563; }

/* TABLE SECTION */
.table-section {
    background: white;
    padding: 25px;
    border-radius: 14px;
    margin-top: 40px;
}

.top-table {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.actions{
    display: flex;
    
}
.search {
    background: #f1f1f1;
    padding: 10px 15px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    left: -45rem;
}

.search input {
    border: none;
    background: transparent;
    outline: none;
}

/* BUTTONS */
.btn {
    padding: 10px 18px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-weight: 500;
}

.add {
    background: #2563eb;
    color: white;
}

.export {
    background: white;
    border: 1px solid #ddd;
}

/* TABLE */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th {
    text-align: left;
    padding: 12px;
    color: #555;
}

td {
    padding: 15px 12px;
    border-top: 1px solid #e5e7eb;
}
tbody tr:hover {
    background-color: #e5e7eb;
    cursor: pointer;
}


.product {
    display: flex;
    align-items: center;
    gap: 10px;
}

.tag {
    padding: 5px 12px;
    border-radius: 20px;
    font-size: 12px;
    color: white;
}

.tag.blue { background: #2563eb; }
.tag.green { background: #16a34a; }

.stock {
    padding: 3px 10px;
    border-radius: 14px;
    color: white;
    font-size: 12px;
}

.stock.green { background: #16a34a; }
.stock.orange { background: #f59e0b; }

.status.active {
    background: #dcfce7;
    color: #15803d;
    padding: 6px 12px;
    border-radius: 50px;
}

/* ACTION ICONS */
.edit {
    color: #2563eb;
    font-size: 18px;
    margin-right: 10px;
    cursor: pointer;
}

.delete {
    color: #b91c1c;
    font-size: 18px;
    cursor: pointer;
}
